@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Archivo:400,500,600,700");

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent; }

body {
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: #494c57;
    text-align: left;
    background-color: #fff; }




/* Extra large devices (large desktops, 1200px and up) */
@media screen and (max-width: 1200px) {
}

/* Large devices (desktops, 992px and up) */
@media screen and (max-width: 992px) {
}

/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {
}